CONFIG_SOC_RENESAS_RCAR_CR7=y
CONFIG_BOARD_RCAR_ULCB_CR7=y
CONFIG_CONSOLE=y
CONFIG_RAM_CONSOLE=y
CONFIG_SYS_CLOCK_HW_CYCLES_PER_SEC=800000000
CONFIG_FLASH_SIZE=0
CONFIG_FLASH_BASE_ADDRESS=0
CONFIG_GPIO_RENESAS_RCAR_GEN3=y
