# Renesas RCAR Gen3 configuration options

# Copyright (c) 2020 IoT.bzh
# SPDX-License-Identifier: Apache-2.0

config GPIO_RENESAS_RCAR_GEN3
	bool "Renesas RCAR Gen3 GPIO"
	depends on SOC_SERIES_RCAR_GEN3
	help
	  Enable Renesas RCAR Gen3 GPIO driver.

