# Renesas RCar Gen3 pinmux

# Copyright (c) 2020 IoT.bzh
# SPDX-License-Identifier: Apache-2.0

config PINMUX_RCAR
	bool "Renesas RCar Gen3 pinmux driver"
	depends on SOC_SERIES_RCAR_GEN3
	help
	  Enable the Renesas RCar Gen3 pinmux driver.
