# Copyright (c) 2022-2023 Vestas Wind Systems A/S
# SPDX-License-Identifier: Apache-2.0

DT_COMPAT_ZEPHYR_UCAN := zephyr,ucan

menuconfig USB_DEVICE_UCAN
	bool "USB UCAN Device Class support"
	default y
	depends on DT_HAS_ZEPHYR_UCAN_ENABLED
	help
	  USB UCAN device class support.

if USB_DEVICE_UCAN

module = USB_DEVICE_UCAN
module-str = usb ucan
source "subsys/logging/Kconfig.template.log_config"

config USB_DEVICE_UCAN_FW_STRING_SUPPORT
	bool "Firmware String support"
	default y
	help
	  Enable support for the USB UCAN protocol get firmware string command.

endif # USB_DEVICE_UCAN
